<!DOCTYPE html>
<html lang='eng'>
  <head>
    <meta charset='utf-8'/>
    <%= favicon_link_tag 'horse-head.png' %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Horse Show Connection</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Cambo|Poppins:400,600" rel="stylesheet" type="text/css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class='navbar navbar-default navbar-transparent navbar-fixed-top' color-on-scroll='200'>
      <div class="container">
        <h3 class='navbar-brand'>Horse Show Connection</h3>
        <div class='collapse navbar-collapse'>
          <ul class="nav navbar-nav navbar-right navbar-uppercase">
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Contact', new_message_path %></li>
          </ul>
        </div>
      </div>
    </nav>

      <%= yield %>

    <!-- footer -->
    <footer class="footer footer-big footer-color-black" data-color='black'>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="info">
              <h5 class="title">About</h5>
              <hr class="hr-small">
                <p>Hi! I'm a busy mom with 8 kids! One of which loves horses! The idea for this website was born of frustration. All the deadlines! All the forms! All the rules! All the websites! Phew! <br></br>I was getting super frustrated trying to get to the information I needed so we could get signed up for the horse shows we were interested in! And not miss any deadlines! <br></br>I hope this website makes it easier for you to get to the information you need! Thanks for coming! &nbsp; &nbsp; &nbsp; ~ Nomi Vos</p>
            </div>
          </div>

          <div class="col-md-5">
            <div class="col-md-offset-8">
            <div class="info">
              <h5 class="title">Contact Me!</h5>
              <hr class="hr-small">
              <nav>
                <ul>
                  <p>Let me know what you're thinking!</p>
                  <li>
                    <%= link_to 'Contact', new_message_path %>
                  </li>
                  <br>
                  <hr>

                  <li><%= social_share_button_tag("My Site") %></li>

                </ul>
              </nav>
            </div>
          </div>
          </div>
        </div>
        <hr>
        <div class="copyright">
          © 2017 Created by Nomi Vos
        </div>
      </div>
    </footer>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
